<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}">
<head>
  {{ partial "head.html" . }}
  {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
  {{ end }}
</head>
<body>
  {{ partial "header.html" . }}
  <main{{ if not .IsHome }} class="pt-16"{{ end }}>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}
  {{ block "page-js" . }}{{ end }}
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3/dist/cdn.min.js"></script>
</body>
</html>
